.Rproj.user
.Rhistory
.RData
.Ruserdata
*.xlsx
./cloud/project/charts_v1/
./cloud/project/wordcloud/
./cloud/project/wordclouds_v1/
./cloud/project/analysis_pilot_files/
./cloud/project/analysis_files/
